table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 10px solid #f30000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #05e7a5;
}